.box {
    position: relative;
    background-color: blue;
    width: 100vw;
    height: 1000px;
}
.box2 {
    position: relative;
    background-color: rgb(164, 164, 255);
    width: 100vw;
    height: 1000px;
}

