.about {
  &__nulla {
    padding: 40px 55px 40px 70px;
    margin: 20px 0;
    background-color: #2b2024;
    width: 34%;
    &_subtitle {
      color: #fd0054;
      font-family: "Agency FB";
      font-size: 32px;
      font-weight: 700;
      letter-spacing: 1.92px;
    }
    &_title {
      margin-top: 20px;
      color: #fafafa;
      font-family: "Agency FB";
      font-size: 60px;
      font-weight: 700;
      letter-spacing: 3.6px;
      text-transform: uppercase;
    }
    &_text {
      margin-top: 7px;
      color: #fafafa;
      font-family: "Agency FB";
      font-size: 24px;
      letter-spacing: 1.44px;
      opacity: 0.5;
    }
    &_grid {
      margin-top: 32px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
  &__homeGym {
    display: flex;
  }
}
