.about {
  display: flex;
  justify-content: space-between;
  &__nulla {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px 55px 40px 70px;
    margin: 20px 0;
    background-color: #2b2024;
    width: 34%;
    &_subtitle {
      color: #fd0054;
      font-family: "Agency FB";
      font-size: 32px;
      font-weight: 700;
      letter-spacing: 1.92px;
    }
    &_title {
      margin-top: 20px;
      color: #fafafa;
      font-family: "Agency FB";
      font-size: 60px;
      font-weight: 700;
      letter-spacing: 3.6px;
      text-transform: uppercase;
    }
    &_text {
      margin-top: 7px;
      color: #fafafa;
      font-family: "Agency FB";
      font-size: 24px;
      letter-spacing: 1.44px;
      opacity: 0.5;
    }
    &_grid {
      margin-top: 32px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
  &__homeGym {
    margin-left: 100px;
    display: flex;
    width: 60%;
    position: relative;
    &_img {
      width: 592px;
      height: 600px;
      object-fit: cover;
      z-index: 1;
    }
    &_text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      background: #fd0054;
      height: 235px;
      padding-left: 65px;
      padding-right: 300px;
      z-index: 100;
      position: absolute;
      right: 0;
      bottom: 20px;
      &_title {
        color: #fafafa;
        font-family: "Agency FB";
        font-size: 48px;
        font-weight: 700;
      }
      &_link {
        display: flex;
        align-items: center;
        &_img {
          width: 50px;
          height: auto;
          margin-left: 30px;
        }
      }
    }
  }
}
