.footer {
  background-color: #2b2024;
  padding: 5% 6%;

  &__Menu {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    @media screen and (max-width: 1370px) {
      grid-template-columns: repeat(1, 100%);
      height: auto;
      gap: 20%;
    }
  }

  &__box1,
  &__box2 {
    display: flex;
  }

  &__colum1,
  &__colum2,
  &__colum3,
  &__colum4 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__colum1 {
    &_title {
      color: #fd0054;
      font-family: Alatsi;
      font-size: 48px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      padding-left: 24px;
    }

    &_text {
      color: #e2e2e2;
      font-family: Alatsi;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: 1.44px;
      width: 367px;
      height: 193px;
    }
  }

  &__colum2 {
    &_title {
      color: #fd0054;
      font-family: Alatsi;
      font-size: 32px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      padding-left: 35%;
      padding-bottom: 5%;
    }

    &_link {
      color: #fff;
      font-family: Alatsi;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      padding-top: 23px;
      padding-left: 35%;
      text-decoration: none;
    }
  }

  &__colum3 {
    &_title {
      color: #fd0054;
      font-family: Alatsi;
      font-size: 32px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      padding-left: 15%;
      padding-bottom: 5%;
    }

    &_link {
      color: #fff;
      font-family: Alatsi;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      padding-top: 23px;
      padding-left: 15%;
      text-decoration: none;
    }
  }

  &__colum4 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10%;

    &_title {
      color: #fd0054;
      font-family: Alatsi;
      font-size: 32px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      padding-bottom: 59px;
    }

    &_input {
      width: 110%;
      height: 66px;
      background: #544c4f;
      border: none;
      color: #d6d4d5;
      font-family: Alatsi;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      padding-left: 5%;
    }

    &_submit {
      width: 40%;
      height: 40%;
      background: #fd0054;
      color: #fafafa;
      text-align: center;
      font-family: Alatsi;
      font-size: 100%;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 1.2px;
      border: none;
      margin: 10% 0;
      cursor: pointer;
    }
  }

  &__Copyright {
    display: flex;
    justify-content: center;
    min-width: 99%;
    width: 99%;
    justify-content: center;
    align-items: center;
    color: #909090;
    font-family: Alatsi;
    font-size: 150%;
    font-weight: 700;
    border-top: 1px solid #464646;

    nav {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        li {
          margin: 0 8px;
          p {
            color: #909090;
          }
          a {
            color: #909090;
            font-family: Alatsi;
            font-size: 24px;
            text-decoration: none;
          }
        }
        &_nav2 {
          &_icon {
            a {
              margin: 0 20px !important;
            }
          }
        }
      }
    }
  }
}
